/* Center child elements */


/* Styles for website counter container */
.website-counter {
  background-color: #907163;
  height: 30px;
  width: 40px;
  color: white;
  border-radius: 90px;
  font-weight: 700;
  font-size: 25px;
  margin-top: 10px;
  text-align: center;
  left: 50%;
  position: relative;
  
  
}

/* Styles for reset button */
#reset {
  margin-top: 20px;
  background-color: #008cba;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 20px;
  color: white;
  border: 0;
}