/*cores
8EE4AF -- azul
edf5e1 -- branco
5cdb95 -- verde azulado
#907163 -- castanho
#379683  -- azul verde
8d8741 -- dourado
daa520 -- dourado2
*/


body{
    background-color: black;
    background-size:cover;
    color: white;
}
/*formatação logotipo*/
figure img#logo{
    width: 175px;
    height: 100px;
    border-radius: 0px 50px 0px 50px;
    float: left;
    margin: 0px 10px 15px 0px;
}


/*formatação do menu */
 nav#menu ul{
     list-style:none;
     text-transform: uppercase;
 }

 nav#menu li{
     display: inline-block;
     background-color: #8d8741;
     padding: 10px;
     margin: 5px;
     transition: 0.5s;
     font-family: 'Courier New', Courier, monospace;
     font-weight: 600;       /*um bold */
     border-radius: 10px;
     width: 150px;
     text-align: center;
           
 }

 

 nav#menu li:hover{
     background-color: #daa520;  
 }


 nav#menu a{
     color: rgb(14, 7, 9);  /*cor dos links a preto*/
     text-decoration: none;     /*retira o sublinhado dos links*/
 }

 /*formatacao titulos em h1*/
 h1.titulos{
  font-family:rockwell;
  font-size: 20pt;
  text-align: center;
  color:#daa520 ;
}

/*formatacao seccao principal do home*/
section#principal{
  text-align: right;
  padding: 20px;
  background: url("../img/home_principal.jpg");
  color: #395C6B;
  font-family: cursive;
  width: 100%;
  height: 500px;
  border-radius: 20px;
  background-size: 100% 100%;
}
/*formatacoes conteudo */
.conteudo {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-bottom: 30px;
  
}


/* Slideshow container */
/*formatacao slide show*/
* {box-sizing:border-box}




/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0px 0px 3px;
}



/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #daa520;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 0px 20px;
  position: relative;
  text-align: left;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
p.txt_slider{
    font-size: 15pt;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  padding: 8px 12px;
  position: relative;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #daa520;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.5s;
  animation-name: fade;
  animation-duration: 3.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

img.img_slider{
  position: relative;
  display: block;
  left: 20%;
  width: 600px;
  height: 600px;
}

/*estilos do footer */

footer{
    padding-top: 10px;
    color: #907163;
    clear: both;
    text-align: center;
    border-top: 1px dashed;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    
    
}

footer a{
   color: #edf5e1;  /*cor dos links a preto*/
   text-decoration: none;     /*retira o sublinhado dos links*/
  
}

footer a:hover{
    color: red;
}

/*botao topo*/
#myBtn {
  /*display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #8d8741; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #daa520; /* Add a dark-grey background on hover */
}